html, body { height: 100%; padding: 0; margin: 0; }

#div1 { background: #DDD; }
#div2 { background: #AAA; }
#div3 { background: #777; }
#div4 { background: #444; }
#div5 { background: #DDD; }
#div6 { background: #AAA; }
#div7 { background: #777; }
#div8 { background: #444; }
#div9 { background: #DDD; }

#content {
    border: 2px solid;
    position: relative;   
    float:left;
    width:100%
  }

 #content div {
    float:left;
    width:33.33%;
    height: 33.33%;
    background: transparent;
    display:inline-block;
  }