.TreeView
{
  background-color: white;
  border: 1px solid #666666;
  cursor:default;
}

.TreeNode
{
  padding: 2px;
}

.RootTreeNode
{
  font-weight: bold;
  padding: 2px;
}

.HomeNodeRow
{
  height: 18px;
  padding: 2px;
  font-family: verdana;
  font-size: 11px;
  background-color: #BBC6D2;
  color: #1572AC;
  border-bottom: 1px solid #666666;
}

.HoverHomeNodeRow
{
  height: 18px;
  padding: 2px;
  font-family: verdana;
  font-size: 11px;
  background-color: #BBC6D2;
  color: #1572AC;
  border-bottom: 1px solid #333333;
}

.GroupTreeNode
{
  font-weight: bold;
  padding: 2px;
}

.GroupNodeRow
{
  height: 18px;
  padding: 2px;
  font-family: verdana;
  font-size: 11px;
  background-color: #EEEEEE;
  color: #444444;
  border-bottom: 1px solid #666666;
}

.HoverGroupNodeRow
{
  height: 18px;
  padding: 2px;
  font-family: verdana;
  font-size: 11px;
  background-color: #EEEEEE;
  color: #444444;
  border-bottom: 1px solid #666666;
}

.TreeNodeRow
{
  height: 18px;
  padding: 2px;
  font-family: verdana;
  font-size: 11px;
  border-bottom: 1px solid #999999;
}

.HoverTreeNodeRow
{
  height: 18px;
  padding: 2px;
  font-family: verdana;
  font-size: 11px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #999999;
}

.SelectedTreeNode
{
  height: 18px;
  padding: 2px;
  font-family: verdana;
  font-size: 11px;
  font-weight: bold;
  border-bottom: 1px solid #999999;
  background-color: #FFFFFF;
}

.LastNodeRow
{
  height: 18px;
  padding: 2px;
  font-family: verdana;
  font-size: 11px;
  border-bottom: 0px;
}

.HoverLastNodeRow
{
  height: 18px;
  padding: 2px;
  font-family: verdana;
  font-size: 11px;
  background-color: #FFFFFF;
  border-bottom: 0px;
}

.TreeViewMenuCount
{
  color: Green;
}