{% extends "treasury_platform/header.html" %}
{% block content %}

	<div>

		<form action='' method='POST'>
			{% csrf_token %}

			{{ form }}

			<input type="submit" value="Submit" />
		</form>

	</div>
	<div>

	<canvas id="myChart" width="400" height="400"></canvas>
	<script>

	var ctx = document.getElementById("myChart");
	var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: {{ manager|safe }},
			datasets: [{
				label: '2015',
				data: {{ data1 }},
				backgroundColor: Array(12).fill('rgba(255, 99, 132, 0.2)'),
				borderColor: Array(12).fill('rgba(54, 162, 235, 1)'),
				borderWidth: 1
			},
			{
				label: '2016',
				data: {{ data2 }},
				backgroundColor: Array(12).fill('rgba(75, 192, 192, 0.2)'),
				borderColor: Array(12).fill('rgba(54, 162, 235, 1)'),
				borderWidth: 1
			}

	]
		},
		options: {
			responsive: true,
			maintainAspectRatio: false,
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero:true
					}
				}]
			}
		}
	});
	</script>


	</div>
	<div>
		<!--{{ manager }}-->
	</div>
{% endblock %}








